:root {
  --red-100: #fcc9c9;
  --red-200: #ef9a9a;
  --red-300: #c15959;
  --red-500: #7a2727;
  --red-600: #6b0909;
  --red-700: #540606;
  --red-800: #400808;
  --red-900: #2b0000;
  --red-grey: #bd9d9d;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  background-color: #6fffe9;
  color: #02483d;
}

.card-wrapper {
  background: linear-gradient(to bottom, #d9fff9, #6fffe9);
  height: 100%;
  width: 100%;
  min-height: 100%;
  min-width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
}

.sans {
  font-family: "Urbanist", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  letter-spacing: 0.3em;
  text-transform: uppercase;
}

.script {
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 1.25em;
  text-transform: lowercase;
  letter-spacing: normal;
}

.ampersand {
  font-family: "Great Vibes", cursive;
  font-weight: 400;
  font-style: normal;
}

.multi-font,
.multi-font .script {
  position: relative;
}

.multi-font .script {
  top: -2.5px;
}

.text-red-100 {
  color: var(--red-100);
}
.text-red-200 {
  color: var(--red-200);
}
.text-red-300 {
  color: var(--red-300);
}
.text-red-500 {
  color: var(--red-500);
}
.text-red-800 {
  color: var(--red-800);
}
.text-red-900 {
  color: var(--red-900);
}
.text-red-grey {
  color: var(--red-grey);
}

.svg,
.svg-shadow,
.svg-highlight {
  position: absolute;
  bottom: 15%;
  width: 30%;
}
.svg {
  z-index: 3;
  fill: var(--red-700);
}
.svg-shadow {
  bottom: calc(15% - 1px);
  z-index: 2;
  fill: var(--red-900);
}
.svg-highlight {
  bottom: calc(15% + 1px);
  z-index: 1;
  fill: var(--red-500);
}

/* ============================================================================================== */

.card__container {
  cursor: pointer;
  position: absolute;
  left: 50%;
  top: 45%;
  transform: translate(-50%, -50%);
  perspective: 1400px;
  transition: all 0.2s cubic-bezier(0, 0, 0.2, 1);
}
@media (min-width: 768px) {
  .open .card__container {
    transform: translate(0%, -50%);
  }
}
.card-instructions {
  bottom: 0;
  position: absolute;
  text-align: center;
  width: 100%;
}
.card {
  box-shadow: 0 3px 5px var(--red-900);
  max-width: 600px;
  max-height: 900px;
  width: 80vw;
  height: 120vw;
  transform-style: preserve-3d;
  transform: rotateX(50deg);
  transition: all 1s cubic-bezier(0, 0, 0.2, 1);
  text-align: center;
}
.card:hover,
.open .card {
  transform: rotateX(15deg);
}
.card__panel {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: all 1s ease-in-out;
  backface-visibility: visible;
  transform-origin: left;
  transform-style: preserve-3D;
  transform: rotate3d(0, 1, 0, 0deg);
}
.card__panel--front {
  background: linear-gradient(
      to bottom,
      rgba(122, 39, 39, 0.9) 30%,
      rgba(64, 8, 8, 0.9)
    ),
    url(./img/roller-texture-29.png) center / auto 150% repeat,
    linear-gradient(to bottom, var(--red-500) 30%, var(--red-800));
}
.card__panel--front {
  backface-visibility: hidden;
  color: var(--red-grey);
  display: grid;
  place-items: center;
  font-size: 1.5em;
  text-shadow: var(--red-100) 1px 1px, var(--red-900) -1px -1px;
  z-index: 1;
}
.card__panel--front__background {
  background: linear-gradient(
      to bottom,
      rgba(122, 39, 39, 0.9),
      rgba(64, 8, 8, 0.9) 70%
    ),
    url(./img/roller-texture-29.png) bottom / auto 150% repeat,
    linear-gradient(to bottom, var(--red-500), var(--red-800) 70%);
}
.card__panel--inside-right {
  background: linear-gradient(
      to bottom,
      rgba(122, 39, 39, 0.9),
      rgba(64, 8, 8, 0.9) 70%
    ),
    url(./img/roller-texture-29.png) bottom right 10% / auto 150% repeat,
    linear-gradient(to bottom, var(--red-500), var(--red-800) 70%);
}
.card__panel--inside-left {
  background: linear-gradient(
      to bottom,
      rgba(122, 39, 39, 0.85),
      rgba(64, 8, 8, 0.85) 70%
    ),
    url(./img/texture-autumn-leaf.jpg) center / auto 150% repeat,
    linear-gradient(to bottom, var(--red-500), var(--red-800) 70%);
}
.card__panel--front__background {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 1s cubic-bezier(0, 0, 0.2, 1);
}
.card:hover .card__panel--front__background,
.open .card__panel--front__background {
  opacity: 1;
}

.card__panel--front p {
  line-height: 2em;
}
.open .card__panel--front {
  transform: rotate3d(0, 1, 0, -170deg);
}
.card__panel--inside-left {
  z-index: 0;
}
.open .card__panel--inside-left {
  box-shadow: 0 3px 5px var(--red-900);
  transform: rotate3d(0, 1, 0, -170deg);
}
.card__panel--inside-right {
  border-left: none;
  color: var(--red-200);
  padding-top: 3em;
  z-index: -1;
}

.card__panel--inside-right .script {
  color: var(--red-300);
}

.intro {
  line-height: 10;
}
.party {
  color: var(--red-100);
  display: block;
  font-size: 2em;
  text-shadow: var(--red-100) 1px 1px, var(--red-100) 1px 2px,
    var(--red-100) 0px 2px, var(--red-900) -1px -1px, var(--red-900) -1px -2px,
    var(--red-900) 0px -2px;
}
.party + br + .ampersand {
  font-size: 3em;
  line-height: 2;
}

.meta {
  color: var(--red-300);
  margin-top: 5em;
  line-height: 1.5;
}

.meta p + p {
  margin-top: 1.5em;
}

.ordinal-suffix {
  font-size: 0.75em;
  vertical-align: super;
}

.see-more {
  color: var(--red-200);
  margin-top: 4em;
}

.see-more span {
  border-top: 1px solid var(--red-300);
  border-bottom: 1px solid var(--red-300);
  display: inline-block;
  padding: 0.25em 0.5em;
}

/* ============================================================================================== */

.content {
  box-sizing: content-box;
  font-family: sans-serif;
  font-size: 1.2rem;
  line-height: 2;
  margin-top: 95vh;
  margin-left: auto;
  margin-right: auto;
  max-width: 550px;
  padding: 0 10rem 5rem;
  position: relative;
  z-index: 1;
}

.content > * + * {
  margin-top: 3rem;
}

ul {
  list-style-type: none;
}

.content li {
  line-height: 1.2;
}

.content li + li {
  margin-top: 2rem;
}

/* ============================================================================================== */

/* ------- */
/* Pixel 7 */
/* ------- */
@media (max-width: 500px) {
  .card__container {
    top: 30%;
  }

  .card__panel--front {
    font-size: 0.8em;
  }

  .card__panel--inside-right {
    padding-top: 2em;
  }

  .intro {
    line-height: 1.5;
  }

  .party {
    font-size: 1.5em;
  }

  .intro + br + .party {
    margin-top: 1.5em;
  }

  .party + br + .ampersand {
    font-size: 2em;
    line-height: 1.5;
    display: inline-block;
    padding-bottom: 0.3em;
  }

  .meta {
    margin-top: 1.5em;
  }

  .see-more {
    color: var(--red-100);
    font-size: 0.8em;
    margin-top: 2em;
  }

  .content {
    margin-top: 65vh;
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

/* ------------------------ */
/* Samsung Galaxy S20 Ultra */
/* ------------------------ */

@media (max-width: 412px) {
  .intro {
    line-height: 1.2;
  }
}

/* ------------- */
/* iPhone 12 Pro */
/* ------------- */

@media (max-width: 390px) {
  .card__panel--inside-right {
    padding-top: 2em;
  }

  .party {
    font-size: 1.2em;
  }

  .intro + br + .party {
    margin-top: 1.2em;
  }
}

/* --------- */
/* iPhone SE */
/* --------- */

@media (max-width: 375px) {
  .card__container {
    top: 35%;
  }

  .party + br + .ampersand {
    font-size: 1.8em;
    line-height: 1.2;
  }

  .meta {
    margin-top: 1.5em;
  }

  .meta p + p {
    margin-top: 1.2em;
  }

  .see-more {
    font-size: 0.7em;
    margin-top: 2em;
  }

  .content {
    margin-top: 73vh;
  }
}

/* ------------------ */
/* Samsung Galaxy S8+ */
/* ------------------ */

@media (max-width: 360px) {
  .card__panel--front {
    font-size: 0.75em;
  }

  .meta {
    font-size: 0.9em;
  }
}
